html, body {
    height: 100vh;
}
ul{
    list-style-type: none;
}
li.active{
    box-shadow: 0 0 #ddd;
}
main{
    height: 100%;
}
header{
    height: 10%;
}
#ctd-lista-reproductor{
    height: 70%;
}
/* #ctd-reproductor{
    background-size: cover ;
    background-image: url("../Recursos/img-audios/img-aud3.png");
    filter: blur(2px);
    z-index: 5!important;
} */
#contenedor-canva{
    height: 15%;
}
#ctd-footer{
    height: 5%;
}
#ctd-lista{
    width: 25%;
    height: 100%;
    z-index: 100!important;
}
a{
    height: 100%;
    width: 100%;
    font-style: normal;
    text-decoration: none;
}
.ctd-lista-elem{/* <li> */
    height: 85px;
    width:100%;
    cursor: pointer;
}
.ctd-img-pista{
    position: relative;
    display: inline-block;
    padding: 0;
    height:100%;
    width:30%;
    /* cursor: pointer; */
    background-color: transparent;
    border-top:1px inset rgb(89, 89, 89);
    border-bottom:1px inset rgb(89, 89, 89);
    border-left:1px inset rgb(89, 89, 89);
    z-index: 100;
}
.ctd-img-pista img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 100;
}
.play-pause-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
    /* filter: drop-shadow(0 0 10px #333); */
    background-color: rgba(25, 25, 25, 0.75);
    border-radius: 50%;
    z-index: 100;
}

.ctd-img-pista:hover .play-pause-icon {
    opacity: 1;
}


.descripcion-pista{
    padding: 1em 0 1em 0;
    height: 100%;
    width: 70%;
    border-top:1px solid rgb(89, 89, 89);
    border-right:1px solid rgb(89, 89, 89);
    border-bottom:1px solid rgb(89, 89, 89);
}

.descripcion-pista div{
    font-size: 12px;
    white-space: normal;
    overflow-wrap: break-word;
    max-width: 160px;
    text-align: center;
}
.btn-transparent {
background-color: transparent;
border-color: transparent;
/* filter: invert(100%); */
}
p{
    margin-bottom: 0;
}
audio{
    display: none;
}
.cover{
    height: 128px;
    width: auto;
    max-width: 200px;
    border-radius: .3rem;
    box-shadow:0 0 5px #E9ECEF;
}
.blink-animation{
    animation: blink 2s infinite;
}
@keyframes blink {
    0% {
      box-shadow: 0 0 15px #E9ECEF;
    }
    50% {
      box-shadow: 0 0 5px #E9ECEF;
    }
    100% {
      box-shadow: 0 0 15px #E9ECEF;
    }
}
/* #lbl-cancion-reproductor{
    transform: translateY(-20px);
}
#lbl-artista-reproductor{
    transform: translateY(-23px);
} */
#btn-muted-reproductor{
/*     margin-left: 47%;
    transform:translateY(100px
    ) */
}
#contenedor-canva{
    height: 450px!important;
}

/* Progress */
.progress-container {
    height: 10px;
    width: 50%;
    background-color: #DDD;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.progress {
    appearance: none;
    -webkit-appearance: none;
    width: 0;
    height: 100%;
    border-radius: 10px;
}
progress[value]::-webkit-progress-bar {
    background-color: #0d49fd;
  }
#btnVolumen span{
    padding-right: 20px;
    z-index: 5;
}
.ctd-volumen{
    width: 50%;
    margin-bottom: 5px;
}
.volumen{
    width: auto;
}
#volumen{
    width: 100px;
    transform: translateX(-5px);
    z-index: 10;
}
.volumen .hidden{
    visibility: collapse;
}
#toggleVolumen{
    display: none;
}
.toggle-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

.btn{
    border: transparent;
}
.active{
    box-shadow: 0px 0px 5px #0d49fd; 
    transform: scale(1.03);
    
}
.activeText{
    font-weight: bolder;
    font-size: 12.5px!important;
    color:#DDD!important;
}
/*   #toggleVolumen:checked + .btn > .bi-volume-down-fill:before {
    content: "\f507";
  }
  
  #toggleVolumen:checked + .btn > .bi-volume-mute-fill:after {
    content: "\f508";
  }
   */