html, body {
    height: 100vh;
}
body{

    font-family: Hind-Light,sans-serif;
}

header h1{
    /* font-weight: bold; */
    font-family: Teko-Regular,sans-serif;
    margin: 0;
}
picture img{
    height: 50px;
    width: auto;
}
ul{
    list-style-type: none;
}
li.active{
    box-shadow: 0 0 3px #ddd;
    transform: scale(1.03);
}
main{
    height: 100%;
}
header{
    height: 12% !important;
    color: #f8f9fa;
}
#ctd-lista-reproductor{
    height: 60%!important;
}

#ctd-reproductor{
    height: 100%;
    width: 45%!important;
    border-right:3px solid #212529;
}

#contenedor-canva{
    position: relative;
    background-color: #215EBB;
    height: 20% !important;
}
#ctd-footer{
    height: 8% !important;
    font-size: 12px;
    padding-left: 5px;
}
#ctd-lista{
    width: 25%;
    height: 100%;
    z-index: 100!important;
}
#ctd-banner{
    position: relative;
    height: 100%; 
    width: 30%;
}
#ctd-img-banner{
    height: auto;
    width: auto;
    object-fit: fill;
}
#ad-span{
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 4px;
    background-color: whitesmoke;
    height: fit-content;
    width: fit-content;
    padding: 2px 4px 2px 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    /* letter-spacing : 1px; */

}
#banner{
    /* width: 407px; */
    /* height: 396px; */
    height: 100%;
    width: 100%;

}
a{
    height: 100%;
    width: 92%;
    font-style: normal;
    text-decoration: none;
    border-radius: 3px;
}
.ctd-lista-elem{/* <li> */
    height: 85px;
    width:100%;
    cursor: pointer;
}
.ctd-img-pista{
    position: relative;
    display: inline-block;
    padding: 0;
    height:100%;
    width:30%;
    /* cursor: pointer; */
    background-color: transparent;
    border-radius: 3px 0 0 3px;
    border-top:1px inset rgb(89, 89, 89);
    border-bottom:1px inset rgb(89, 89, 89);
    border-left:1px inset rgb(89, 89, 89);
    z-index: 100;
}
.ctd-img-pista img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 100;
}
.play-pause-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
    /* filter: drop-shadow(0 0 10px #333); */
    background-color: rgba(25, 25, 25, 0.75);
    border-radius: 50%;
    z-index: 100;
}

.ctd-img-pista:hover .play-pause-icon {
    opacity: 1;
}


.descripcion-pista{
    padding: 1em 0 1em 0;
    height: 100%;
    width: 70%;
    border-radius: 0 0px 0px 0;
    border-top:1px solid rgb(89, 89, 89);
    /* border-right:1px solid rgb(89, 89, 89); */
    border-bottom:1px solid rgb(89, 89, 89);
}

.descripcion-pista div{
    font-size: 12px;
    white-space: normal;
    overflow-wrap: break-word;
    max-width: 160px;
    text-align: center;
}

.link-dw{
    width: 8%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 0 3px 3px 0;
    border-top: 1px solid rgb(89, 89, 89);
    border-right: 1px solid rgb(89, 89, 89);
    border-bottom: 1px solid rgb(89, 89, 89);
    border-left: 1px solid rgb(89, 89, 89);
}
.btnDwl{
    background-color: transparent;
    border: none;
}
.iconDwl{
    color: whitesmoke;
    font-size: 13px;
}

.btn-transparent {
background-color: transparent;
border-color: transparent;
/* filter: invert(100%); */
}
p{
    margin-bottom: 0;
}
audio{
    display: none;
}
.cover{
    height: 128px;
    width: auto;
    max-width: 200px;
    border-radius: .3rem;
    box-shadow:0 0 5px #215EBB;
}

.blink-animation{
    animation: blink 2s infinite;
}
@keyframes blink {
    0% {
      box-shadow: 0 0 15px #215EBB;
    }
    50% {
      box-shadow: 0 0 5px #215EBB;
    }
    100% {
      box-shadow: 0 0 15px #215EBB;
    }
}


/* Progress */
.progress-container {
    height: 10px;
    width: 50%;
    background-color: #DDD;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.progress {
    appearance: none;
    -webkit-appearance: none;
    width: 0;
    height: 100%;
    border-radius: 10px;
}
progress[value]::-webkit-progress-bar {
    background-color: #0d49fd;
  }
#btnVolumen span{
    padding-right: 20px;
    z-index: 5;
}
.ctd-volumen{
    width: 50%;
    margin-bottom: 5px;
}
.volumen{
    width: auto;
}
#volumen{
    width: 100px;
    transform: translateX(-5px);
    z-index: 10;
}
.volumen .hidden{
    visibility: collapse;
}
#toggleVolumen{
    display: none;
}
.toggle-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

.btn{
    border: transparent;
}
/* .active{
    box-shadow: 0px 0px 5px #0d49fd; 
    transform: scale(1.03);
} */

.activeText{
    font-weight: bolder;
    font-size: 12.5px!important;
    color:#DDD!important;
}
.blink-animation-lista{
    animation: blink-lista 8s infinite;
}
@keyframes blink-lista {
    0% {
      box-shadow: 0 0 15px #DDD;
    }
    50% {
      box-shadow: 0 0 5px #DDD;
    }
    100% {
      box-shadow: 0 0 15px #DDD;
    }
}
.activeBtnBg{
    background-color: #215EBB;
}
/* PERSONAJE */
#personaje{
    transform: scale(50%);
}
#btn-rana{
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 4px;
    border: none;
    font-size: 0.95em;
}